ALTER TABLE HR.JOB_HISTORY
  DROP CONSTRAINT JHIST_DEPT_FK;


ALTER TABLE HR.JOB_HISTORY ADD (
  CONSTRAINT JHIST_DEPT_FK 
  FOREIGN KEY (DEPARTMENT_ID) 
  REFERENCES HR.DEPARTMENTS (DEPARTMENT_ID));
